<h2>Login to Fwitter!</h2>
<form method="post" action="/login">
  <p>Username:<input class="input "type="text" name="username"  required><br></p>
  <input class="btn btn-primary" type="submit">
</form>